Content negotiation should have a failure scenario

Currently, if an acceptable response content type cannot be determined, the [first available formatter is used](https://github.com/equip/framework/blob/c114640619a84782bc6afad447ef64010cdea36e/src/ContentNegotiation.php#L89).

From [section 12.2 of RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec12.html#sec12.2):

> HTTP/1.1 defines the 300 (Multiple Choices) and 406 (Not Acceptable) status codes for enabling agent-driven negotiation when the server is unwilling or unable to provide a varying response using server-driven negotiation.

It seems like we should be returning a 406 response code in that scenario instead.


I think returning a 406 makes sense as a default behavior. In cases when content negotiation would be used, though, is there a use case for always returning a formatted result, even if no `Accept` header is provided?

@bvisness Indeed, one provided by [RFC 2616 in section 14.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1):

> If no Accept header field is present, then it is assumed that the client accepts all media types. If an Accept header field is present, and if the server cannot send a response which is acceptable according to the combined Accept field value, then the server SHOULD send a 406 (not acceptable) response.

@elazar for the most part, the `Accept` header always includes `*/*` as the last possible type with low quality. If none of the other preferred types are matched, then the server is allowed to respond with whatever type it wants.

I am starting to think that we should separate content negotiation into a separate package. As @bvisness [pointed out here](https://github.com/equip/framework/pull/75/files/2e1c1f64075942be68cc91892178f4c360d2396d#r73877277), we can't actually use Plates for formatting in content negotiation because it requires the [`withTemplate(...)`](https://github.com/equip/framework/blob/2e1c1f64075942be68cc91892178f4c360d2396d/src/Formatter/PlatesFormatter.php#L35-L41) method be called before it can render.

@shadowhand That may be prudent, since some projects won't necessarily need it.

Related note: per [RFC 2616 Section 10.4.7](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7), there appears to be no standard way for a server to communicate to a client what media types it supports for its responses.

> Unless it was a HEAD request, the response SHOULD include an entity containing a list of available entity characteristics and location(s) from which the user or user agent can choose the one most appropriate. The entity format is specified by the media type given in the Content-Type header field. Depending upon the format and the capabilities of the user agent, selection of the most appropriate choice MAY be performed automatically. However, this specification does not define any standard for such automatic selection.